
.edit-mode-container{
    width: inherit;
    height: inherit;

}

.edit-input {
  appearance: none;
  padding: 4px; 
  margin: 4px;
  font-size: 14px; 
  border: thin solid white; 
  border-style: inset;
  border-radius: 4px; 
  background-color: rgba(255,255,255,0.6); 
}

.edit-mode-btns {
  appearance: none;
  padding: 4px 6px; 
  margin: 4px;
  font-size: 11px; 
  border: thin solid white; 
  border-radius: 4px; 
  border-style: outset;
  background-color: rgba(240, 240, 240);
}

.edit-mode-btn-container {
    display: flex;
    position: absolute;
    right: 4px;
    bottom: 10px;
}

.description-box {
    height: 100px;
    width: 80%;
    overflow: scroll; 
}

.edit-mode-labels {
  padding: 0 2px; 
  margin: 4px 4px 0;
  font-size: 14px; 
}

.edit-mode-select-container {
    margin: 0;
    display: flex wrap;
    position: absolute;
    left: 15px;
    bottom: 10px;
}