.game-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    justify-content: center;
    text-align: center;
}

.cell {
    height: 100px;
    width: 100px;
    background-color: rgb(119, 161, 174);
    color: white;
    margin: 4px;
    padding: 0px 10px 25px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    cursor: pointer;
}

.board {
    width:400px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}


.status-bar {
    width: 400px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: relative;
}

.status{
    width: fit-content;
    border: thin solid rgb(136, 167, 177);
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
    background-color: rgb(136, 167, 177);
    color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}



.error {
    width: 300px;
    border: thin solid rgb(202, 36, 36);
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
    background-color: rgb(202, 36, 36);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.title {
    margin: 10px;
    color: rgb(119, 161, 174);
    font-size: 60px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-game-btn {
    width: 100px;
    height: 40px;
    border: 4px solid  rgb(138, 167, 175);
    border-style: outset;
    border-radius: 4px;
    background-color:rgb(216, 222, 224);
    color: rgb(71, 92, 97);
    font-weight: bold;
    cursor: pointer;
}